body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/background.jpeg");
  background-color: rgb(5, 29, 51);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container-fluid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.card {
  margin: 15px;
  scroll-behavior: smooth;
  color: rgb(5, 29, 51);
  width: 45%;
  
}

.indexcard {
  max-width: 25rem;
  min-width: 20rem;
  height: 20rem;
}



.card-text-index {
  max-height: 10rem;
  overflow: hidden;
}

.navbar-custom {
  color: white;
}

.form-group {
  height: 30rem;
  width: 30rem;
}

.user-form-group {
  width: 15rem;
  height: 15rem;
}

input {
  margin: 5px;
}

textarea {
  margin: 5px;
}

.edit-form {
  min-height: 15rem;
  width: 35rem;
  background-color:  rgba(5, 29, 51, .75);
  margin-top: 5%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.tagspan {
  background-color: rgba(5, 29, 51, .5);
  margin: 5px;
  color: white;
  border-radius: 5px;
  padding: 2px;
}

.tagsect {
  border-top: 1px solid rgb(5, 29, 51);
  border-bottom: 1px solid rgb(5, 29, 51);
  margin-top: 5px;
  height: 100%;
  overflow: scroll;
}


.form-control {
  width: 100%;
}

#area {
  margin-left: 4px;
}

.form-group button {
  margin: 5%;
}

.btn-primary {
  margin: 5px;
}

.dropdown-item:hover {
  color: #0157B3;
}

.formlink {
  color: white;
}

.searchbtn, .searchbar {
  border-radius: 5px;
}

.searchbtn {
  height: 75%;
}

.seachbar {
  text-align: center;
}

.searchform {
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
  
}

.container-fluid {
  max-width: 100%;
}